@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AZ400 12 </h1>
    <p>
        <iframe frameborder="0" marginheight="0" marginwidth="0" height="520" src="https://soplay.pro/embed2.php?id=btsp3" name="iframe_a" scrolling="no" width="640">Your Browser Do not Support Iframe</iframe>
    </p>

</div>
